@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailNotConfirmed</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="alert alert-danger" role="alert"> 
        <p>Account not confirmed. Please confirm your account... Back to log in @Html.ActionLink("page ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
