
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailNotConfirmed</title>
</head>
<body>
    <div> 
        <p>Email not confirmed</p>
    </div>
</body>
</html>
