.clear {
    clear: both;
}

.coLeft {
    width: 16.85%;
    float: left;
}

.coRight {
    width: 83.15%;
    float: left;
}

.minimizedLeft {
    float: left;
    width: 3.69%;
}

.minimizedRight {
    float: left;
    width: 96.31%;
}

td.details-control {
    background: url('DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('DataTables/images/details_close.png') no-repeat center center;
}

div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.ui-dialog {
    top: 10% !important;
}

.ui-dialog-content {
    max-height: 500px !important;
}

.logoSpan {
    width: 16.85%;
    float: left;
}

.logoImage {
    float: left;
    width: 3.69%;
}

.logoSpan img {
    display: none;
}

.logoImage span {
    display: none;
}

body {
    height: 100%;
    margin: 0;
    background: #222d32;
}

body #nav {
    background: #222d32;
    padding: 0;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
}

body #logo {
    outline: 0;
    text-transform: uppercase;
    background: #367FA9;
    text-align: center;
    height: 52px;
    position: absolute
}

body #logo img {
    width: 20px;
}

body #logo:hover {
    background: #367FA9;
    cursor: pointer;
}

body #logo #logoName {
    text-decoration: none;
    outline: 0;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}

body #logo #logoName:hover {
    text-decoration: none;
    outline: 0;
}

body #nav #logo #logoName #crud {
    margin-left: -5px;
}

body #nav #navName {
    text-transform: uppercase;
    background: #1a2226;
    font-size: 12px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px 0px 10px 15px;
}

    body #nav #navName #name {
        color: #4b646f;
        margin: 0;
    }

body #nav #navigations {
    margin-top: -1px;
}

        body #nav #navigations li:first-child i {
            margin-right: 6px;
        }

        body #nav #navigations li i {
            margin-right: 10px;
        }

            body #nav #navigations li i:last-child {
                position: absolute;
                right: 10px;
                margin-top: 3px;
            }

        body #nav #navigations li > a {
            border-left: 3px solid transparent;
            color: #b8c7ce;
            padding: 12px 5px 12px 15px;
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.42857143;
            display: block;
        }

            body #nav #navigations li > a:hover {
                border-left: 3px solid #367FA9;
                text-decoration: none;
                color: white;
                background: #1E282C;
            }

            body #nav #navigations li > a:visited {
                text-decoration: none;
            }

        body #nav #navigations li > ul {
            display: none;
            transition: transform .3s ease-in-out, width .3s ease-in-out;
        }

            body #nav #navigations li > ul li a {
                color: #8aa4af;
                padding: 5px 5px 5px 15px;
                font-size: 14px;
                margin-left: 3px;
                border-left: 3px solid transparent;
            }

                body #nav #navigations li > ul li a:hover {
                    border-left: 3px solid transparent;
                    background: transparent;
                }

    body #minimizedNavigations {
        z-index: 4;
        position: absolute;
        top: 50px;
        left: 3.69%;
    }

        body #minimizedNavigations > li {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        body #minimizedNavigations li {
            z-index: 3;
            position: relative;
        }

            body #minimizedNavigations li:first-child i {
                margin-right: 6px;
            }

            body #minimizedNavigations li i {
                margin-right: 10px;
            }

                body #minimizedNavigations li i:last-child {
                    position: absolute;
                    right: 10px;
                    margin-top: 3px;
                }

            body #minimizedNavigations li > a {
                width: 200px;
                color: white;
                background: #1E282C;
                padding: 12px 5px 12px 15px;
                font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.42857143;
                display: block;
            }

                body #minimizedNavigations li > a:hover {
                    text-decoration: none;
                    background: #1E282C;
                }

                body #minimizedNavigations li > a:visited {
                    text-decoration: none;
                }

            body #minimizedNavigations li > ul li a {
                color: #8aa4af;
                padding: 5px 5px 5px 15px;
                font-size: 14px;
            }

                body #minimizedNavigations li > ul li a:hover {
                    color: white;
                }

        body #minimizedNavigations #minimizedDashboard {
            display: none;
        }

        body #minimizedNavigations #minimizedTaskManager {
            display: none;
            top: 43px;
        }

        body #minimizedNavigations #minimizedUserManager {
            display: none;
            top: 88px;
        }

        body #minimizedNavigations #minimizedSettings {
            display: none;
            top: 132px;
        }

    body #content {
        position: relative;
        padding: 0;
        background: #ECF0F5;
        min-height: 91.6%;
        transition: transform .3s ease-in-out, width .3s ease-in-out;
    }

    body #topPanel {
        position: relative;
        z-index: 5;
        background: #3C8DBC;
        height: 52px;
    }

        body #topPanel #bars a {
            top: -25px;
            text-decoration: none;
            color: white;
            padding: 16px 15px 14px 15px;
            font-size: 14px;
            line-height: 1.42857143;
            position: absolute;
            left: 0px;
            margin-top: 0px;
        }

            body #topPanel #bars a:hover {
                text-decoration: none;
                background: #367FA9;
            }

        body #topPanel #account {
            float: right;
            padding-right: 0;
        }

            body #topPanel #account ul {
                margin: 0;
                text-align: right;
            }

                body #topPanel #account ul li {
                    display: inline-block;
                }

                    body #topPanel #account ul li a {
                        color: white;
                        line-height: 20px;
                        padding: 17px 13px 15px 16px;
                        text-decoration: none;
                        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                    }

                        body #topPanel #account ul li a:hover {
                            text-decoration: none;
                            background: #367FA9;
                        }

                body #topPanel #account ul #sign a {
                    padding: 17px 16px 17px 14px;
                }

    body #content .contentHeadline .left {
        float: left;
        width: 50%;
    }

        body #content .contentHeadline .left h3 {
            font-size: 24px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 500;
            line-height: 1.1;
            padding-left: 15px;
            padding-top: 15px;
        }

    body #content .contentHeadline .right {
        width: 50%;
        float: left;
        text-align: right;
        padding-top: 9px;
    }

        body #content .contentHeadline .right ul {
            padding-right: 12px;
            padding-top: 7px;
        }

            body #content .contentHeadline .right ul li {
                display: inline-block;
                font-size: 12px;
                font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-weight: 400;
                line-height: 1.42857143;
                padding-right: 3px;
            }

                body #content .contentHeadline .right ul li a {
                    color: #444;
                    text-decoration: none;
                }

                    body #content .contentHeadline .right ul li a:hover {
                        text-decoration: none;
                    }

                    body #content .contentHeadline .right ul li a i {
                        padding-right: 5px;
                    }

            body #content .contentHeadline .right ul .after span {
                color: #777;
            }

                body #content .contentHeadline .right ul .after span:first-child {
                    padding-right: 5px;
                    color: #ccc;
                }

    body #content #relativeDiv {
        min-height: 78.9vh;
        margin-top: 30px;
    }

    body #content #footer {
        text-align: right;
        color: #444;
        background: white;
        padding: 15px;
        border-top: 1px solid #d2d6de;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42857143;
        width: 100%;
        position: relative;
        bottom: 0;
    }

        body #content #footer b {
            font-weight: bold;
        }

.cursor_pointer {
    cursor: pointer;
}

.nav_profile {
    display: flex;
    align-items: center;
}

.coLeft {
    margin-top: 53px;
}

.minimizedLeft {
    margin-top: 53px;
}

body #nav #navigations li > a {
    position: relative;
}
/*# sourceMappingURL=main.css.map */
@media (max-width: 1280px) {
    .minimizedLeft {
        float: left;
        width: 4.69%;
    }

    .minimizedRight {
        float: left;
        width: 95.31%;
    }

    body .logoImage {
        width: 4.69%;
    }
}

@media(max-width:1080px) {
    .coLeft {
        width: 18.85%;
    }

    .coRight {
        width: 81.15%;
    }

    body .logoSpan {
        width: 18.85%;
    }
}

@media (max-width: 991px) {
    .minimizedLeft {
        float: left;
        width: 5.69%;
    }

    .minimizedRight {
        float: left;
        width: 94.31%;
    }

    .coLeft {
        width: 20.85%;
    }

    .coRight {
        width: 79.15%;
    }

    body .logoSpan {
        width: 20.85%;
    }

    body .logoImage {
        width: 5.69%;
    }
}

@media(max-width:870px) {
    .coLeft {
        width: 22.85%;
    }

    .coRight {
        width: 77.15%;
    }

    body .logoSpan {
        width: 22.85%;
    }
}

@media(max-width:768px) {

    body #content {
        margin-top: 100px;
        min-height: 83.8%;
    }

        body #content #relativeDiv {
            min-height: 71.3vh;
        }

    body #topPanel {
        margin-top: 50px;
        position: absolute;
        width: 100%;
    }

    .minimizedLeft {
        float: left;
        width: 0%;
    }

        .minimizedLeft li {
            display: none;
        }

    #nav {
        left: 0px;
        margin-top: 102px;
        position: relative;
        z-index: 1;
        transition: .3s;
    }

    body #logo {
        width: 100%;
        position: absolute;
        z-index: 1;
    }

        body #logo img {
            display: none;
        }

    .minimizedRight {
        width: 100%;
    }
    body .logoImage span {
        display: block !important;
        margin-top: 1px;
    }
}

@media (max-width: 736px) {
    .coLeft {
        width: 25%;
    }

    .coRight {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .coLeft {
        width: 28%;
    }

    .coRight {
        width: 72%;
    }
}

@media (max-width: 568px) {
    .coLeft {
        width: 31%;
    }

    .coRight {
        width: 69%;
    }

    body #nav #navigations li i:last-child {
        right: 0;
    }
}

@media (max-width: 480px) {
    .coLeft {
        width: 34%;
    }

    .coRight {
        width: 66%;
    }
}

.ui.table.dataTable thead th {
    cursor: pointer;
    white-space: nowrap;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
}

.ui.table.dataTable thead th:first-child {
    border-left: none;
}

.ui.table.dataTable thead .sorting,
.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled,
.ui.table.dataTable thead .sorting:hover,
.ui.table.dataTable thead .sorting_asc:hover,
.ui.table.dataTable thead .sorting_desc:hover,
.ui.table.dataTable thead .sorting_asc_disabled:hover,
.ui.table.dataTable thead .sorting_desc_disabled:hover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui.table.dataTable thead th:after {
    display: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: '';
    height: 1em;
    width: auto;
    opacity: 0.8;
    margin: 0em 0em 0em 0.5em;
    font-family: 'Icons';
}

.ui.table.dataTable thead th.sorting_asc:after {
    /*content: '\f0d8';*/
    content: '\f160';
}

.ui.table.dataTable thead th.sorting_desc:after {
    /*content: '\f0d7';*/
    content: '\f161';
}

.ui.table.dataTable thead th.sorting:after {
    content: '\f0dc';
    opacity: 0.2;
}

/* Hover */

.ui.table.dataTable th.disabled:hover {
    cursor: auto;
    color: rgba(40, 40, 40, 0.3);
}

.ui.table.dataTable thead th:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.8);
}

/* Sorted */

.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
}

.ui.table.dataTable thead .sorting:after,
.ui.table.dataTable thead .sorting_asc:after,
.ui.table.dataTable thead .sorting_desc:after,
.ui.table.dataTable thead .sorting_asc_disabled:after,
.ui.table.dataTable thead .sorting_desc_disabled:after {
    display: inline-block;
}

/* Sorted Hover */

.ui.table.dataTable thead .sorting_asc:hover,
.ui.table.dataTable thead .sorting_desc:hover,
.ui.table.dataTable thead .sorting_asc_disabled:hover,
.ui.table.dataTable thead .sorting_desc_disabled:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
}


.dataTables_length select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.285714rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: inline-block;
    line-height: 1.2142em;
    min-height: 0.714286em;
    outline: 0 none;
    padding: 0.3em;
    transform: rotateZ(0deg);
    transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
    white-space: normal;
    word-wrap: break-word;
}

.dataTables_wrapper .dataTables_filter {
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
    display: inline-flex;
    position: relative;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    padding-top: 0.755em;
}

tr.highlightExpanded {
    background-color: #d9edf7 !important;
}
